{% extends 'base2.html.twig' %}
{% block content %}
    <div class="row">
        <div class="cl-mcont">
            <div class="block-flat">
                <div class="header">							
                    <h4>Información tercero</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-4 col-xs-12">
                            <table class="table table-condensed table-bordered">
                                <tr>
                                    <td class="primary"><strong>CODIGO:</strong></td>
                                    <td>{{arTercero.codigoTerceroPk}}</td>
                                </tr>
                                <tr>
                                    <td class="primary"><strong>NIT:</strong></td>
                                    <td>{{ arTercero.numeroIdentificacion}}</td>
                                </tr>
                                <tr>
                                    <td class="primary"><strong>NOMBRE:</strong></td>
                                    <td>{{ arTercero.nombreCorto}}</td>
                                </tr>
                                <tr>
                                    <td class="primary"><strong>TELEFONO:</strong></td>
                                    <td>{{ arTercero.telefono}}</td>
                                </tr>
                                <tr>
                                    <td class="primary"><strong>FAX:</strong></td>
                                    <td>{{arTercero.fax}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-4 col-xs-12">
                            <table class="table table-condensed table-bordered">
                                <tr>
                                    <td class="primary"><strong>CIUDAD:</strong></td>
                                    <td>{{arTercero.ciudad}}</td>
                                </tr>
                                <tr>
                                    <td class="primary"><strong>DIRECCION:</strong></td>
                                    <td>{{arTercero.direccion}}</td>
                                </tr>
                                <tr>
                                    <td class="primary"><strong>CELULAR:</strong></td>
                                    <td class="text-right">{{arTercero.celular}}</td>
                                </tr>
                                <tr>
                                    <td class="primary"><strong>EMAIL:</strong></td>
                                    <td class="text-right">{{arTercero.email}}</td>
                                </tr>
                                <tr>
                                    {% if (arTercero.cliente) %}
                                        <td class="primary"><strong>CLIENTE:</strong></td>
                                        <td class="text-right"> SI </td>
                                    {% else %}
                                        <td class="primary"><strong>PROVEEDOR:</strong></td>
                                        <td class="text-right"> SI </td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                            <table class="table table-condensed table-bordered">
                                <tr>
                                    <td class="primary"><strong>COMENTARIOS:</strong></td>
                                    <td>{{arTercero.comentarios}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar" style="float: left">
                <div class="btn-group">                                
                    <a class="btn btn-default btn-sm" href="{{ path('zaf_admin_tercero_lista') }}">Volver</a>                              
                </div>
            </div>
        </div>
    </div>
{% endblock %} 
